// =============================
// AFTER RIGHT FULLFILLED FORM
// =============================
@keyframes showSendingMsg {
	0% {
		opacity: 0;
		z-index: 0;
	}
	90% {
		opacity: 1;
		top: 25%;
		z-index: 10;
	}
	100% {
		top: 25%;
	}
}

// =============================
// COOKIES HANDLE
// =============================
@keyframes show-cookies {
	to {
		opacity: 1;
	}
}

// =============================
// SERVICES SECTION ANIMATION
// =============================
@keyframes showIcons {
	0% {
		opacity: 0;
		transform: translateZ(-1rem) scale(0.8);
	}
	50% {
		opacity: 0;
		transform: translateZ(-0.5rem) scale(0.9);
	}
	100% {
		opacity: 1;
		transform: translateZ(0) scale(1);
	}
}

// =============================
// TESTIMONIALS
// =============================
@keyframes next1 {
	from {
		left: 0%;
	}
	to {
		left: -100%;
	}
}
@keyframes next2 {
	from {
		left: 100%;
	}
	to {
		left: 0%;
	}
}

@keyframes prev1 {
	from {
		left: 0%;
	}
	to {
		left: 100%;
	}
}
@keyframes prev2 {
	from {
		left: -100%;
	}
	to {
		left: 0%;
	}
}

// =============================
// OFFERS SUBPAGE - CHOSEN OFFER ANIMATION
// =============================
@keyframes border-vertically {
	0% {
		height: 7px;
		width: 7px;
		background-color: var(--main-color);
	}
	100% {
		height: 100%;
		width: 7px;
		background-color: var(--main-color);
	}
}
@keyframes border-horizontally {
	0% {
		height: 7px;
		width: 7px;
		background-color: var(--main-color);
	}
	100% {
		height: 7px;
		width: 100%;
		background-color: var(--main-color);
	}
}

// =============================
// GUIDES SUBPAGE - GUIDES ANIMATION
// =============================
@keyframes move-guides-card {
	from {
		transform: translateX(-150%);
		opacity: 0;
	}
	to {
		transform: translateX(0%);
		opacity: 1;
	}
}
@keyframes addAnimText {
	0% {
		opacity: 0;
	}
	99% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}