// =============================
// AFTER RIGHT FULLFILLED FORM
// =============================
@keyframes showSendingMsg {
	0% {
		opacity: 0;
		z-index: 0;
	}
	90% {
		opacity: 1;
		top: 25%;
		z-index: 10;
	}
	100% {
		top: 25%;
	}
}

// =============================
// COOKIES HANDLE
// =============================
@keyframes show-cookies {
	to {
		opacity: 1;
	}
}

// =============================
// SERVICE SECTION ANIMATION
// =============================
@keyframes showIcons {
	0% {
		opacity: 0;
		transform: translateZ(-1rem) scale(0.8);
	}
	50% {
		opacity: 0;
		transform: translateZ(-0.5rem) scale(0.9);
	}
	100% {
		opacity: 1;
		transform: translateZ(0) scale(1);
	}
}