// ===========================
// VISIBLE STATE OF SIDE MENU
// ===========================
.containerForSideMenu.show {
	transform: translateX(0);
	animation: showMenuAnimation 0.4s;
}

.containerForSideMenu.close {
	transform: translateX(100vw);
	animation: closeMenuAnimation 0.4s;
}

// ===========================
// ANIMATIONS FOR SIDE MENU
// ===========================
@keyframes showMenuAnimation {
	0% {
		transform: translateX(100vw);
		background-color: transparent;
	}
	75% {
		background-color: transparent;
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes closeMenuAnimation {
	0% {
		transform: translateX(0);
	}
	10% {
		background-color: transparent;
	}
	100% {
		transform: translateX(100vw);
		background-color: transparent;
	}
}
// =============================
// AFTER RIGHT FULLFILLED FORM
// =============================
@keyframes showSendingMsg {
	0% {
		opacity: 0;
		z-index: 0;
	}
	100% {
		opacity: 1;
		top: 12%;
		z-index: 10;
	}
}

// =============================
// COOKIES HANDLE
// =============================
@keyframes show-cookies {
	to {
		opacity: 1;
		transform: translateY(0);
	}
}