$navbarHeight: 67px;

// MOBILE DEVICES
// =====================================
@media (max-width: 380px) {
	.service-box {
		width: 100%;
	}
	.services {
		gap: 0;
	}
	.opinions__content,
	.opinions__name {
		font-size: 1.4rem;
	}
	.guides {
		&__program {
			&-imgs {
				width: 100%;
				display: block;
			}
			&-img {
				height: 220px;
				max-width: 100%;
				object-fit: cover;
			}
			&-img:nth-child(2),
			&-img:nth-child(3),
			&-img:nth-child(4) {
				display: none;
			}
		}
	}
}

@media (max-width: 463px) {
	.cookie {
		&__p {
			margin-bottom: 1.5rem;
			font-size: 1.3rem;
		}
		&__btn {
			font-size: 1.2rem;
		}
	}

	.bodyHidden {
		overflow: hidden;
	}
	.main-wrapper {
		width: 100%;
	}
	// BREAKS LINE IN 2 PARAGRAPHS (HERO-IMG AND OFFER). ONLY MOBILE DEVICES on INDEX.HTML
	.break__line {
		display: block;
	}

	.header {
		width: 100%;
		height: 90vh;
		&__hero-img {
			aspect-ratio: auto 640 / 360;
			background-position-x: 42%;
		}
		&__text {
			width: 100%;
			text-align: center;
			&-title {
				font-size: 2.5rem;
				top: 40%;
			}
			&-p {
				margin-bottom: 1rem;
			}
			&-promo {
				width: 100%;
				top: 33%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}
		}
		&__socials {
			right: 0;
			left: 0;
		}
		&__btn {
			margin-top: 35px;
		}
		&__link:hover,
		&__link:active {
			background-color: var(--bg-color);
			color: var(--font-color);
		}
	}
	.header--subpage {
		display: none;
	}

	.hero-img {
		background-image: url('../img/girl-5785590_640.jpg');
		&__bg {
			background-color: rgba(7, 19, 9, 0.4);
		}
		&__text {
			width: 75%;
			font-size: 2rem;
			letter-spacing: 1px;
		}
	}
	.offer {
		&__box {
			flex-direction: column;
			align-items: center;
		}
	}
	.subpage-card {
		flex-direction: column;
		&__picture {
			height: 25rem;
		}
		&__picture,
		&__info,
		.subpage-price {
			width: 100%;
		}
		&__tag {
			right: 0;
		}
		&__img {
			&--first-img {
				background-position-y: bottom;
			}
			&--second-img,
			&--third-img {
				background-position-x: center;
			}
		}
		&__info {
			padding: 2.5rem 1.5rem;
		}
		.subpage-price__btn {
			width: 60%;
		}
		&--second {
			display: flex;
			.subpage-card__tag {
				right: 0;
				left: auto;
			}
		}
	}
	.opinions__img {
		width: 35%;
	}
	.bike-img {
		object-position: 70%;
	}
}

// TABLETS
// =====================================
@media (max-width: 560px) {
	.nav {
		&__list {
			flex-direction: column;
			padding-top: 10%;
			width: 40vw;
			height: 100%;
			background-color: #fff;
			&-item {
				width: 100%;
				font-size: 1.5rem;
				text-align: center;
				letter-spacing: 1px;
			}
			&-link {
				color: var(--font-color);
				transition: background-color 0.5s, font-weight 0.5s;
			}
			&-link:hover,
			&-link:active {
				color: var(--bg-color);
				background-color: var(--font-color);
			}
		}
	}
	.active {
		color: var(--bg-color);
		background-color: var(--font-color);
	}
	// WRAPPER FOR SIDE MENU WHILE SLIDING
	.side-menu {
		position: fixed;
		top: $navbarHeight;
		right: 0;
		height: 100vh;
		width: 100vw;
		display: flex;
		justify-content: end;
		background-color: rgba(28, 64, 11, 0.532);
		transform: translateX(100vw);
		overflow-x: hidden;
	}
	// VISIBLE STATE OF SIDE MENU
	// =====================================
	.side-menu.show {
		transform: translateX(0);
		animation: showMenuAnimation 0.4s;
	}
	// ANIMATION FOR SIDE MENU
	// =====================================
	@keyframes showMenuAnimation {
		0% {
			transform: translateX(100vw);
			background-color: transparent;
		}
		75% {
			background-color: transparent;
		}
		100% {
			transform: translateX(0);
		}
	}

	.about-us {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 0;
		padding-bottom: 3rem;
		&__picture {
			width: 100%;
		}
		&__text {
			margin: 0;
			padding: 2rem 2rem 0;
			width: 100%;
			&-title {
				margin-bottom: 1.5rem;
			}
			&-p {
				font-size: 1.3rem;
			}
		}
	}
	.regular-button {
		width: 47%;
	}
	.form__control-buttons {
		padding: 0 2.5rem;
		justify-content: space-between;
	}
	.subpage-price__btn {
		width: 100%;
	}
	.footer {
		.smaller-wrapper,
		.main-wrapper {
			flex-wrap: wrap;
		}
		.logo {
			margin: 4rem auto 2rem 1.5rem;
			padding-left: 0;
			&__text {
				margin-left: 1px;
				font-size: 3rem;
			}
		}
	}
	.prefooter-links {
		margin: 2rem;
		width: 100%;
		display: flex;
		justify-content: space-around;
		&__box {
			display: flex;
			flex-direction: column;
		}
		&__subheading {
			font-size: 1.5rem;
		}
		&__box--second {
			margin: 0;
		}
	}
	.page404 {
		flex-direction: column;
		&__picture-part,
		&__text-part {
			width: 100%;
		}
		&__text-part {
			height: 25rem;
		}
	}
	.social-media {
		min-height: 60px;
	}
	.social-media__text {
		display: none;
	}
	.opinions___test-item {
		padding-inline: 1.5rem;
	}

	.opinions__content,
	.opinions__name {
		font-size: 1.4rem;
	}
	.opinions__text {
		justify-content: center;
	}
	.opinions__icon {
		width: 35px;
		height: 35px;
	}
}

@media (min-width: 560px) {
	.nav__btn,
	.break__line {
		display: none;
	}
	.about-us__picture,
	.header__text {
		padding-left: 1.5rem;
	}
	.header__hero-img {
		background-image: url('../img/jungle-1807476_1280.jpg');
	}
}

@media (min-width: 463px) and (max-width: 620px) {
	.header__text {
		padding-inline: 1.5rem;
	}

	.about-us__picture {
		height: 32rem;
	}
}
@media (min-width: 463px) and (max-width: 825px) {
	.hero-img {
		&__text {
			width: 75%;
			font-size: 2.8rem;
		}
	}
	.offer__box {
		flex-wrap: wrap;
		justify-content: center;
		.offer__box-card {
			max-width: 20rem;
		}
	}
	.subpage-card {
		display: grid;
		grid-template-columns: 50% 50%;
		grid-template-rows: 2fr;
		&__picture {
			grid-column: 1/2;
			grid-row: 1/2;
			width: 100%;
		}
		&__img {
			background-position-x: center;
		}
		.subpage-price {
			grid-column: 2/3;
			grid-row: 1/2;
			width: 100%;
		}
		&__info {
			grid-column: 1/-1;
			grid-row: 2/3;
			width: 100%;
			height: 100%;
			padding: 2rem;
			font-size: 1.4rem;
		}
		&--second {
			.subpage-price {
				grid-column: 1/2;
				grid-row: 1/2;
			}
			.subpage-card__info {
				grid-column: 1/-1;
				grid-row: 2/-1;
			}
			.subpage-card__picture {
				grid-column: 2/-1;
				grid-row: 1/2;
				width: 100%;
			}
			.subpage-card__tag {
				left: 50%;
			}
		}
	}
}



@media (max-width: 680px) {
	.address__map {
		height: 30rem;
	}
	.contact-subpage {
		.section {
			padding-bottom: 0;
		}
	}
	.second-quote-mark {
		display: none;
	}
	.opinions__content {
		margin-bottom: 1.5rem;
		font-size: 1.4rem;
	}
	.opinions__text {
		justify-content: flex-start;
	}
}
@media (min-width: 680px) {
	.prefooter-links {
		width: 50%;
		justify-content: space-around;
	}
	.address {
		display: flex;
		flex-direction: row;
	}
	.guides {
		&__program {
			&-text {
				margin-bottom: 0;
			}
			&-imgs {
				height: 280px;
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				gap: 0;
			}
			&-imgs:hover &-img {
				transform: rotate(0);
				margin: 0;
			}
			&-img {
				width: 170px;
				height: 170px;
				margin: 0 -20px;
				object-fit: cover;
				object-position: center;
				box-shadow: 0 25px 25px rgba(0,0,0,0.25);
				transition: 0.5s;
				transform: rotate(calc(var(--r) * 1deg));
			}
		}
	}
}
@media (min-width: 770px) {
	.about-us__text {
		margin-left: 5rem;
	}
	.about-us__text-p {
		line-height: 1.9;
	}
	.guides__program-imgs {
		gap: 10px;
	}
}
@media (min-width: 825px) {
	.subpage-card__tag {
		display: none;
	}
	.subpage-card__info {
		font-size: 1.4rem;
	}
	.services {
		justify-content: space-between;
	}
	.opinions__test-item {
		padding-inline: 0;
	}
	.guides__program-imgs {
		gap: 20px;
	}
}

// WHEN VW > 1000PX (main-wrapper)
// -------------------
@media (max-width: 1030px) {
	.offerpage__green-bg {
		background-color: var(--bg-color);
	}
}
@media (min-width: 1030px) {
	.about-us__picture,
	.nav,
	.logo,
	.header__text,
	.header--subpage .header__text,
	.footer .logo {
		padding-left: 0;
	}
	.subpage-card__info {
		font-size: 1.5rem;
	}
}
@media (min-width: 1700px) {
	.header__hero-img {
		background-image: url('../img/jungle-1807476_1920.jpg');
		background-position-y: 56%;
	}
}
