// ==========================
// RESET OF STYLES
// ==========================
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

button {
	border: none;
	cursor: pointer;
	font-family: inherit;
}

// ==========================
// MAIN STYLE PROPERTIES
// ==========================
:root {
	--main-color: rgb(115, 209, 97);
	--bg-color: #ffffff;
	--dark-bg: #2e4734;
	--font-color: #141414;
	--btn-hover: #87fa6f;
}
$navbarHeight: 67px;

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	position: relative;
	width: 100%;
	min-height: 100vh;
	padding-top: $navbarHeight;
	background-color: var(--bg-color);
	font-family: 'Raleway', sans-serif;
	font-size: 1.2rem;
	font-weight: normal;
	// overflow-x: hidden;
}

// ==========================
// INDEPENDENT ELEMENTS
// ==========================
.logo {
	display: flex;
	align-items: center;
	padding-left: 1.5rem;
	&__img {
		width: 2.8rem;
		height: 2.8rem;
	}
	&__text {
		font-size: 3rem;
		font-weight: normal;
	}
	&__link {
		color: var(--font-color);
		transition: color 0.3s;
	}
	&__link:hover {
		color: var(--main-color);
	}
}

.main-wrapper {
	position: relative;
	top: 0;
	width: 100%;
	max-width: 1000px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 auto;
}

.smaller-wrapper {
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	max-width: 800px;
}

.section {
	background-color: var(--bg-color);
	padding-bottom: 5rem;
	&__title {
		padding-top: 5rem;
		padding-bottom: 5rem;
		padding-bottom: 3.3rem;
		font-size: 3rem;
		font-weight: 300;
		font-family: 'Ralewaylight', sans-serif;
		text-transform: uppercase;
		text-align: center;
	}
}

.subpage-title {
	font-size: 3.5rem;
}

.regular-button {
	width: 25%;
	max-width: 20rem;
	padding: 1rem 2rem;
	font-size: 1.3rem;
	border: none;
	border-radius: 8px;
	box-shadow: 0px 2px 4px 1px rgba(66, 68, 90, 0.45);
	background-color: var(--btn-hover);
	transition: background-color 0.3s, box-shadow 0.3s;
	cursor: pointer;
}

.regular-button:hover,
.regular-button:focus {
	background-color: var(--main-color);
	box-shadow: 0px 2px 4px 1px rgba(105, 239, 105, 0.6);
}

.cookie {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 140px;
	padding: 3rem;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.767);
	opacity: 0;
	// transform: translateY(100%);
	animation: show-cookies 0.3s 0.3s forwards;
	z-index: 500;
	&__p {
		margin-bottom: 2rem;
		font-size: 2rem;
		color: var(--bg-color);
	}
	&__img {
		position: absolute;
		top: 27px;
		height: 30px;
		margin-left: 5px;
	}
	&__btn {
		color: var(--font-color);
		font-family: 'Ralewaybold', sans-serif;
		letter-spacing: 2px;
		text-transform: uppercase;
	}
}
.cookiehide {
	display: none;
}
// =====================================
// NAV
// =====================================
.nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: $navbarHeight;
	display: flex;
	justify-content: center;
	background-color: var(--bg-color);
	box-shadow: 0px 1px 9px -3px rgba(66, 68, 90, 1);
	overflow: hidden;
	z-index: 9999;
	&__list {
		display: flex;
		align-items: center;
		&-item {
			list-style-type: none;
		}
		&-link {
			display: block;
			padding: 2.7rem;
			font-size: 1.3rem;
			color: var(--font-color);
			transition: color 0.3s, background-color 0.3s;
		}
		&-link:hover,
		&-link:active {
			color: var(--bg-color);
			background-color: var(--font-color);
		}
	}
	&__btn {
		height: 35px;
		width: 29px;
		position: absolute;
		top: 1.5rem;
		right: 2rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		&-bar,
		&-bar::before,
		&-bar::after {
			width: 100%;
			height: 3px;
			border-radius: 3px;
			background-color: var(--font-color);
			transition: all 0.5s ease-in-out;
		}
		&-bar::before,
		&-bar::after {
			content: '';
			position: absolute;
		}
		&-bar::before {
			transform: translateY(9px);
		}
		&-bar::after {
			transform: translateY(-9px);
		}
	}
}
//BURGER BTN ANIMATION
//========================================
.nav__btn.open .nav__btn-bar {
	background-color: transparent;
}
.nav__btn.open .nav__btn-bar::before {
	transform: rotate(45deg);
}
.nav__btn.open .nav__btn-bar::after {
	transform: rotate(-45deg);
}

//ACTIVE LIST ITEM WHILE SCROLLING
.active {
	color: var(--bg-color);
	background-color: var(--font-color);
}

// =====================================
// HEADER
// =====================================
.header {
	width: 100%;
	height: 30rem;
	position: relative;
	top: 0;
	left: 0;
	scroll-margin-top: $navbarHeight;
	z-index: 5;
	&__hero-img {
		width: 100%;
		height: 100%;
		background-image: url('../img/jungle-1807476_1280.jpg');
		background-image: url('../img/jungle640cut.jpg');
		background-size: cover;
		background-position-y: 70%;
		background-repeat: no-repeat;
		z-index: 10;
	}
	&__bg {
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.6);
		z-index: 15;
	}
	&__text {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		right: 0;
		display: flex;
		flex-direction: column;
		font-family: 'Raleway';
		color: var(--bg-color);
		z-index: 2000;
		&-title {
			margin-top: 5px;
			font-family: 'Ralewaybold';
			font-size: 3rem;
			letter-spacing: 1px;
		}
		&-p {
			font-size: 2rem;
		}
	}
}

//HEADER USED OUTTA INDEX.HTML
.header--subpage {
	height: 20rem;
	.main-wrapper {
		padding: 2rem 1.5rem;
	}
	.brMobile {
		display: none;
	}
}

// =====================================
// "O NAS" SECTION
// =====================================
.about-us {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	scroll-margin-top: $navbarHeight;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--bg-color);
	z-index: 25;
	&__inner-container {
		max-width: 1000px;
	}
	&__picture {
		display: inline-block;
		vertical-align: top;
		width: 45%;
		height: 28rem;
		&-img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}
	&__text {
		display: inline-block;
		vertical-align: top;
		width: 45%;
		margin-left: 3rem;
		&-title {
			font-family: 'Ralewaybold', sans-serif;
			font-size: 2.3rem;
			margin-bottom: 1.5rem;
		}
		&-p {
			font-family: 'Ralewaylight', sans-serif;
			font-size: 1.3rem;
			letter-spacing: 1px;
			line-height: 1.3;
		}
	}
}

// =====================================
// "HERO-IMG" SECTION
// =====================================
// BREAKS LINE
.break__p {
	display: none;
}
.hero-img {
	position: relative;
	width: 100%;
	height: 25rem;
	&::before {
		content: '';
		background-image: url('../img/girl-5785590_1920.jpg');
		color: white;
		position: fixed;
		display: block;
		top: 0px;
		left: 0px;
		bottom: 0px;
		right: 0px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		z-index: 0;
	}
	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(7, 19, 9, 0.6);
		z-index: 30;
	}
	&__text {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		padding: 3rem;
		font-size: 3.4rem;
		font-family: 'Ralewaybold', sans-serif;
		letter-spacing: 1px;
		text-align: center;
		color: var(--bg-color);
		border: 2px solid #fff;
		z-index: 31;
	}
}

// =====================================
// "OFERTA" SECTION
// =====================================

.offer {
	scroll-margin-top: $navbarHeight;
	position: relative;
	z-index: 35;
	.section__title {
		padding-bottom: 3rem;
	}
	&__box {
		padding: 0 1.5rem;
		display: flex;
		justify-content: space-between;
		gap: 3rem;
	}
	&__p {
		padding: 0 1rem;
		padding-bottom: 4rem;
		text-align: center;
		font-size: 1.7rem;
		&--last {
			padding: 5rem 0 0;
		}
	}
	&__link {
		font-size: 1.7rem;
		text-align: center;
		color: var(--font-color);
		transition: color 0.2s;
		&--bold {
			font-family: 'Ralewaybold', sans-serif;
		}
	}
	&__link:hover,
	&__link:focus {
		color: var(--main-color);
	}
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 23.2rem;
	height: 31.5rem;
	padding: 2.5rem;
	border: none;
	box-shadow: 0px 2px 5px 1px rgba(66, 68, 90, 0.45);
	text-align: center;
	transition: transform 0.2s;
	&__name {
		font-size: 2.2rem;
	}
	&__price {
		font-family: 'Ralewaybold', sans-serif;
		margin: 1rem;
		font-size: 4rem;
	}
	&__list {
		text-align: left;
		list-style-type: none;
		line-height: 2.1rem;
		margin: 0 auto 1.8rem;
		&-item {
			font-size: 1.4rem;
			font-family: 'Raleway';
			&--negative {
				color: #675858;
			}
		}
		&-icon {
			margin-right: 0.5rem;
			width: 13px;
			height: 13px;
		}
	}
	&__btn {
		width: 90%;
		padding: 0.7rem 1.4rem;
		margin: 0 auto;
		font-size: 1.3rem;
		border: none;
		border-radius: 8px;
		background-color: var(--bg-color);
		box-shadow: 0px 2px 4px 1px rgba(66, 68, 90, 0.45);
		transition: background-color 0.3s, box-shadow 0.3s;
	}
	&__btn:hover,
	&__btn:focus {
		background-color: var(--main-color);
		box-shadow: 0px 2px 4px 1px rgba(105, 239, 105, 0.6);
	}
}
.offersection-activebtn {
	background-color: var(--main-color);
}
.card:hover {
	transform: scale(1.02);
}

// =====================================
// OFFER EXTENSION - SUBPAGE
// =====================================
.offerpage {
	width: 100%;
	background-color: var(--bg-color);
	position: relative;
	&__greenBg {
		width: 100%;
		position: absolute;
		top: 26rem;
		bottom: 22rem;
		left: 0;
		right: 0;
		background-color: #e7f3e1;
		z-index: 0;
	}
	&__box {
		width: 100%;
		display: flex;
		flex-direction: column;
		top: 0;
		left: 0;
	}
}
.subpage-card {
	position: relative;
	height: max-content;
	margin-bottom: 5rem;
	display: flex;
	flex-direction: row;
	box-shadow: 0px 2px 5px 1px rgba(66, 68, 90, 0.45);
	background-color: var(--bg-color);
	&__picture {
		width: 50%;
		overflow: hidden;
	}
	&__img {
		position: relative;
		width: 100%;
		height: 100%;
		background-size: cover;
		transition: transform 0.3s, filter 0.3s;
		filter: brightness(85%);
		&--first-img {
			background-image: url('../img/camp.jpg');
		}
		&--second-img {
			background-image: url('../img/people.jpg');
		}
		&--third-img {
			background-image: url('../img/mountain.jpg');
		}
	}
	&__img:hover {
		transform: scale(1.1);
		filter: brightness(100%);
	}
	&__tag {
		position: absolute;
		top: 16px;
		right: 50%;
		width: 135px;
		height: 5rem;
		background-color: var(--bg-color);
		color: var(--font-color);
		font-size: 2rem;
		line-height: 5rem;
		text-align: center;
		text-transform: uppercase;
	}
	&__info {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 25%;
		padding: 3.3rem;
		font-size: 1.3rem;
		line-height: 1.3;
		background-color: var(--bg-color);
	}
	&__info-text {
		width: 100%;
		height: 100%;
	}
	&--second {
		display: grid;
		grid-template-columns: 25% 25% 50%;
		grid-template-rows: 1fr;
		.subpage-card__info,
		.subpage-price,
		.subpage-card__picture {
			width: 100%;
		}
		.subpage-price {
			grid-column: 1/2;
			grid-row: 1/2;
		}
		.subpage-card__info {
			grid-column: 2/3;
			grid-row: 1/2;
		}
		.subpage-card__picture {
			grid-column: 3/-1;
			grid-row: 1/2;
		}
		.subpage-card__tag {
			left: 50%;
		}
	}
}
.subpage-price {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 25%;
	height: 100%;
	padding: 3.3rem;
	color: var(--bg-color);
	background-color: var(--dark-bg);
	transition: transform 0.2s;
	&__name {
		font-size: 2rem;
	}
	&__value {
		margin: 1rem;
		font-size: 4rem;
		font-family: 'Ralewaybold', sans-serif;
	}
	&__list {
		text-align: left;
		list-style-type: none;
		line-height: 2rem;
		margin-bottom: 1.8rem;
		.negative-item {
			color: rgb(156, 156, 156);
		}
	}
	&__btn {
		padding: 0.7rem;
		width: 100%;
	}
}

// =====================================
// "PREFOOTER" SECTION && FOOTER
// =====================================
.footer {
	background-color: rgb(245, 245, 245);
	position: relative;
	&__p {
		padding: 2rem;
		font-size: 1.1rem;
		text-align: center;
	}
}
.prefooter {
	margin-bottom: 0;
	padding-bottom: 2.5rem;
	background-color: rgb(245, 245, 245);
	border-bottom: 1.5px solid rgb(184, 184, 184);
	.smaller-wrapper {
		display: flex;
		justify-content: space-between;
	}
	.logo {
		margin-top: -10%;
		&__img {
			width: 3.7rem;
			height: 3.7rem;
		}
		&__text {
			font-size: 3.9rem;
			padding-left: 0;
		}
		&__link {
			color: var(--font-color);
			transition: color 0.3s;
		}
		&__link:hover,
		&__link:active {
			color: var(--main-color);
		}
	}
}
.prefooter-links {
	margin: 3.5rem 1.5rem;
	display: flex;
	&__subheading {
		font-family: 'Ralewaybold', sans-serif;
		font-size: 1.8rem;
		margin-bottom: 1.5rem;
	}
	&__box--second {
		margin-left: 4rem;
		margin-right: 5rem;
	}
	&__list {
		list-style-type: none;
		line-height: 3rem;
		font-size: 1.1rem;
	}
	&__list-item {
		color: var(--font-color);
	}
}
// =====================================
// CONTACT SUBPAGE
// =====================================
.contact-subpage {
	background-color: #fff;
}
.contact {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	&__p {
		font-size: 1.5rem;
		text-align: center;
		padding: 0 1.5rem;
	}
}
.address {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-top: 5rem;
	&__map {
		width: 100%;
		background-color: grey;
	}
}
.address-data {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2rem;
	width: 100%;
	color: var(--bg-color);
	font-size: 1.5rem;
	background-color: var(--dark-bg);
	&__line-container {
		display: flex;
		flex-direction: row;
		align-items: center;
		.icon-box {
			background-color: transparent;
			border-radius: 50%;
			border: 3px solid var(--main-color);
		}
	}
	&__socials {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	&__mail-link {
		color: var(--bg-color);
	}
}
.icon-box {
	margin: 1rem;
	margin-top: 1.7rem;
	border: none;
	&__img {
		padding: 1rem;
		transition: color 0.2s;
	}
}

// =====================================
//                FORM
// =====================================
.sending-msg {
	position: absolute;
	position: fixed;
	top: 90vh;
	left: 50%;
	transform: translateX(-50%);
	padding: 2.5rem 5rem;
	background-color: rgb(148, 233, 20);
	font-size: 2.5rem;
	color: var(--bg-color);
	text-align: center;
	font-weight: bold;
	letter-spacing: 1px;
	border-radius: 10px;
	transition: top 0.2s, opacity 0.2s;
	z-index: 0;
	opacity: 0;
}

.afterSendingMsg {
	animation: showSendingMsg 2s backwards;
}

.form {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	padding-bottom: 2rem;
	margin-bottom: 0;
	background-color: #e2ffd7;
	&__innerContainer {
		position: relative;
	}
	&__control-buttons {
		display: flex;
		justify-content: space-evenly;
		width: 100%;
		margin: 3rem auto;
	}
}

.form-box {
	display: flex;
	position: relative;
	width: 100%;
	margin-bottom: 1.3rem;
	flex-direction: column;
	&__input,
	&__textarea {
		padding: 12px;
		margin: 0.6rem 1rem;
		font-size: 1.7rem;
		outline: none;
		border: 1px solid #767575;
		border-radius: 3px;
		background-color: transparent;
	}
	&__label {
		position: absolute;
		padding: 0 5px;
		top: 21px;
		left: 17px;
		background-color: #e2ffd7;
		pointer-events: none;
		font-size: 1.3rem;
		transition: top 0.2s, background-color 0.2s;
	}
	&__input:focus,
	&__textarea:focus {
		border-bottom: 2px solid var(--main-color);
	}
	&__input:focus + .form-box__label,
	&__input:valid + .form-box__label,
	&__textarea:focus + .form-box__label,
	&__textarea:valid + .form-box__label {
		top: -2px;
	}
	&__textarea {
		min-height: 15rem;
		resize: vertical;
		max-height: 25rem;
	}
	&__error-text {
		margin-left: 1rem;
		font-size: 1.3rem;
		opacity: 0;
		color: rgb(239, 40, 40);
	}
}
.agreement-box {
	display: flex;
	flex-direction: row;
	align-items: start;
	padding: 1rem 1rem 1rem 1.5rem;
	&__checkbox {
		margin: 0 1.5rem 0 0.5rem;
		padding: 2rem;
		width: 2.5rem;
	}
	&__text {
		font-size: 1rem;
		color: rgb(76, 75, 75);
	}
}

.checkbox-error {
	box-shadow: 0px 0px 0px 3px rgba(255, 0, 0, 1);
}
// =====================================
//                PAGE 404
// =====================================
.page404 {
	display: flex;
	flex-direction: row;
	width: 100%;
	padding: 5rem 0;
	&__picture-part {
		width: 50%;
		height: 100%;
		position: relative;
	}
	&__img {
		width: 100%;
	}
	&__picture-part::after {
		content: 'Hu, hu...';
		position: absolute;
		top: 40px;
		right: 30px;
		color: #ffff00;
		font-size: 20px;
	}
	&__text-part {
		width: 50%;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		text-align: center;
	}
	&__p:nth-child(odd) {
		color: rgb(151, 104, 16);
		font-size: 1.5rem;
	}
	&__p:nth-child(even) {
		font-size: 2rem;
		font-weight: bold;
	}
	&__btn {
		width: 90%;
	}
}

@import './animations.scss';
@import './media.scss';
@import './fontfaces.scss';
